@import "tailwindcss";

:root {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.no-padding-title .ant-table-title {
  padding: 0 !important;
}
.no-padding-title .ant-table-footer {
  padding: 0 !important;
}

/* 手機版range-picker改成直排顯示日曆 */
@media (max-width: 576px) {
  .ant-picker-panels {
    flex-direction: column;
    overflow-y: scroll; /* Add scroll if needed for height */
    height: 400px; /* Example height */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme {
  --color-staffbuy-primary: rgb(23, 93, 204);
  --color-staffbuy-secondary: rgb(158, 171, 249);
}
