@import "tailwindcss";

:root {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.no-padding-title .ant-table-title {
  padding: 0 !important;
}

.no-padding-title .ant-table-footer {
  padding: 0 !important;
}

pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  font-family: inherit;
  margin: 1em 0;
}

.row-disabled {
  color: #b6b6b6 !important;
  background-color: white;
  pointer-events: none;
}

/* 手機版range-picker改成直排顯示日曆 */
@media (max-width: 576px) {
  .ant-picker-panels {
    flex-direction: column;
    overflow-y: scroll;
    /* Add scroll if needed for height */
    height: 400px;
    /* Example height */
  }
}



@theme {
  --color-staffbuy-primary: rgb(23, 93, 204);
  --color-staffbuy-secondary: rgb(158, 171, 249);
}